body{
  background-color: rgba(254, 240, 212, 1);;
}

@font-face {
  font-family: 'city';
  src: url(/assest/fonts/Cityrock-Regular.ttf);
}

/* Logo Neon */
@font-face {
  font-family: 'Whisky Trail Full';
  src: url('/assest/fonts/Whisky Trail Full.otf');
}

@font-face {
  font-family: 'Whisky-Trail-Shadow';
  src: url('/assest/fonts/Whisky-Trail-Shadow.ttf');
}

@font-face {
  font-family: 'Whisky-Trail-Regular';
  src: url('/assest/fonts/Whisky-Trail-Regular.otf');
}

@font-face {
  font-family: 'cityr';
  src: url(/assest/fonts/fontcity.ttf);
}

.neona {
  font-family: 'cityr', sans-serif;
  color: #e9393c;
  font-size: 300%;
  text-shadow: 0 0 3vw #ef4c4e;
}

.neonb {
  font-family: 'cityr', sans-serif;
  color: #426DFB;
  font-size: 300%;
  text-shadow: 0 0 3vw #57a9ba;
}

.neona {
  animation: neona 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neona 2s ease infinite;
}

@keyframes neona {
    0%,
    100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #ef4c4e, .5vw .5vw .1vw #801414;
      color: #ef4c4e;
    } 
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #400a0a;
      color: #ef4c4f33;
    }
  }
  
  .neonb {
    animation: neonb 2s linear infinite;
    -moz-animation: neonb 2s linear infinite;
    -webkit-animation: neonb 2s linear infinite;
    -o-animation: neonb 2s linear infinite;
}
  
  @keyframes neonb {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }

/* Nav */
  
@font-face {
  font-family: 'Gnuolane Regular', sans-serif;
  src: url('/assest/fonts/Gnuolane Regular.ttf');
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url(/assest/fonts/RobotoCondensed-Regular.ttf);
}


@font-face {
  font-family: 'BebasNeue';
  src: url(/assest/fonts/BebasNeue-Regular.ttf);
}

.bebas{
  font-family: 'BebasNeue';
}

.navfonts{
  font-family: 'RobotoCondensed';
  font-weight: bold;
  font-size: 20px;
}

/* Banner - Flag */

@font-face {
  font-family:'Whisky Trail Print' ;
  src: url('/assest/fonts/Whisky Trail Print.otf');
}

.bebas{
  font-family:'BebasNeue';
}

.roboto{
  font-family: 'RobotoCondensed';
}

.Separation{
  margin: 6rem 0 6rem 0;
}

/* .sombramenu{
  text-shadow: 2px 2px 0px #444444b0, 3px 3px 0px #61606091;
} */

/* Accordion */
.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group .panel {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading { padding: 0 }
.panel-heading h4 { background-color: #e9393c; }
.panel-heading .panel-title p { padding: 10px 15px; color: #fff;}

.panel-heading .panel-title .collapsed { background: #fff; color: #3c3b3b;}

.panel-heading {
  background-color: #fff;
  border-left: 3px solid #e9393c;
  border-radius: initial;
  border: none;
  color: #fff;
  padding: 0;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.panel-title p {
  display: block;
  color: #3c3b3b;
  border-left: 3px solid #e9393c;
  padding: 15px;
  position: relative;
  font-size: 30px;
  font-weight: 400;
}
.panel-title p:hover{
    text-decoration: none;
}
.panel-body {
  background: transparent;
  padding: 20px 30px 30px 30px;
}
.panel-body h4{
    font-weight: bolder;
    font-family: 'BebasNeue';
    margin-bottom: 25px;
    font-size: 28px;
}

.panel-body ul li{
  padding-bottom: 3rem;
  margin: 6px 0 6px 0;
  font-size: 28px;
}

.panel-body ul p{
  margin: 6px 0 0 0;
  font-size: 16px;
}

.panel:last-child .panel-body {
  border-radius: initial;
}

.panel:last-child .panel-heading {
  border-radius: initial;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.panel-heading p:before {
  content: none !important;
  /*manejalaflechalateraldeaperturaycierre*/position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.panel-heading.active p:before {
  content: ' ';
  transition: all 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#bs-collapse .panel-heading p:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  right: 5px;
  top: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active p:after {
  content: '\e909';
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all 0.5s;
}
#accordion .panel-heading p:before {
    font-size: 19px;
    position: absolute;
    font-family: FontAwesome;
    content: "\f078";
    right: 14px;
    top: 16px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.5s;
}

#accordion .panel-heading.active p:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  background-image: unset !important;
}

.btn-celeste{
  background-color: #57a9ba;
  box-shadow: 2px 3px 3px;
}

.btn-celeste:hover{
  background-color: #57a9ba;
  opacity: 50%;
  box-shadow: none;
  transition: all 0.5;
  -webkit-transition: all 0.5;
  -moz-transition: all 0.5;
  -ms-transition: all 0.5;
  -o-transition: all 0.5;
}

.btn-celeste a p {
  font-size: 1.5rem;
  color:white;
  text-align: center;
}

.btn-celeste a svg {
  padding-right: 8px; /* Ajusta el relleno a la derecha del icono según tus necesidades */
}

footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

.loading-container {
  text-align: center;
  overflow: hidden;
}

.navbar-brand {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  transform: skew(-0deg, -7deg);
}

.blackfont{
  background-color: #000;
  opacity: 0.9;
}

.hidden{
  overflow: hidden;
}

.preloader-active .navbar {
  display: none;
}
